
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

@import url("/assets/open-color-4385d5f4.css");

@import "tailwindcss";

@theme {

  --breakpoint-lg: 900px;

  --font-sans: "Noto Sans", sans-serif;
  --default-font-family: var(--font-sans);

  --color-primary: var(--color-blue-7);
  --color-primary-light: var(--color-blue-5);
  --color-primary-vlight: #eee;

  --color-blue: var(--color-blue-5);

  --color-cyan-vlight: #d9ece9;
  --color-cyan-light: #20cfd8;
  --color-cyan: #11aeb6;
  --color-cyan-dark: #009299;

  --color-surface: var(--color-page-tint);
  --color-surface-low: var(--color-gray-vlight);

  --color-white: var(--color-page-tint);

  --color-text: var(--oc-gray-7);
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-light);

  --color-page-tint: #fefefe;
  --color-page-tint-1: hsl(135, 29%, 97%);
  --color-page-tint-2: hsl(277, 100%, 98.5%);
  --color-page-tint-3: hsl(26, 94%, 98%);
  --color-page-tint-4: hsl(214, 100%, 98%);
  --color-page-tint-5: hsl(0, 82%, 97.5%);
  --color-page-tint-6: hsl(0, 0%, 96.5%);

  --color-gray-1: hsl(48 6% 95%);
  --color-gray-2: hsl(48 6% 90%);
  --color-gray-3: hsl(48 6% 85%);
  --color-gray-4: hsl(48 6% 75%);
  --color-gray-5: hsl(48 6% 65%);
  --color-gray-6: hsl(48 6% 55%);
  --color-gray-7: hsl(48 6% 45%);
  --color-gray-8: hsl(48 6% 35%);
  --color-gray-9: hsl(48 6% 25%);

  --color-gray-vlight: var(--color-gray-1);
  --color-gray-light: var(--color-gray-3);
  --color-gray-medium: var(--color-gray-6);
  --color-gray-dark: var(--color-gray-8);

  --color-button-border: var(--color-gray-9);

  --color-yellow-1: var(--oc-yellow-1);
  --color-blue-1: var(--oc-blue-1);
  --color-blue-2: var(--oc-blue-2);
  --color-blue-5: var(--oc-blue-5);
  --color-blue-7: var(--oc-blue-7);
  --color-orange-5: var(--oc-orange-5);
  --color-red-5: var(--oc-red-5);
  --color-red-8: var(--oc-red-8);
  --color-green-8: var(--oc-green-8);

  --color-mint-500: oklch(0.72 0.11 178);
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 22px;
  --text-2xl: 26px;
  --text-3xl: 30px;
  --my-line-height: 1.5;

  --table-priority-shadow: inset 16px 0 red;

  --component-base: calc(var(--spacing) * 2)
  --field-row-size: calc(var(--spacing) * 10);

}

@utility menu {
  @apply flex items-center flex-wrap gap-x-4 gap-y-0 text-blue-7 m-0;

  a.selected {
    @apply underline;
  }
}

@utility primary-link {
  @apply font-normal text-link no-underline hover:underline hover:text-link-hover;
}

@utility wiki-link {
  @apply font-normal text-link underline hover:text-link-hover;
}

@utility input {
  @apply px-1 py-1 block-auto max-w-full bg-page-tint border-1 border-gray-4 rounded-sm text-gray-dark text-base font-normal;
}

@utility button {
  @apply border-1 border-gray-4 rounded-md px-2 py-1 text-blue-7 m-0 me-1 text-base hover:underline hover:border-blue-5 hover:text-blue-5 cursor-pointer hover:shadow-[0_1px_2px_rgba(0,0,0,0.1)];
}

@utility box {
  @apply my-2 p-5 bg-page-tint border-1 border-gray-3 rounded-lg;
}

@utility popbox {
  @apply p-2 bg-page-tint text-gray-8 border-1 border-gray-3 rounded-lg shadow-["0_4px_6px_rgba(var(--oc-black-rgb),_0.1)"];
}

@utility flatbox {
  @apply my-2 py-2 px-2 bg-gray-2 border-0 rounded-md;
}

body {
  @apply bg-page-tint;
}

html, body, table, input {
  @apply text-gray-8;
}

a {
  @apply primary-link;
}

h1 {
  @apply font-bold;
}

h2 {
  @apply font-medium mbs-6 mbe-3;
}

h3 {
  @apply font-medium mbs-6 mbe-1;
}

ul {
  @apply my-3;
}

ul > li {
  @apply my-2;
}

strong {
  @apply font-bold;
}

small {
    @apply text-sm inline-block;
}

hr {
    @apply border-gray-3 my-4;
}

input[type="submit"], button[type="submit"], input[type="file"],
select[multiple="multiple"],
input, select, textarea, button {
  @apply input;
}

input[type="checkbox"] {
  @apply mx-1;
}

textarea {
  @apply block;

  &.wiki-edit {
    @apply w-140 max-w-full;
  }
}

input[type="submit"], button[type="submit"] {
  @apply button;
}

label.inline {
  @apply inline-block mbe-2;

  input {
    @apply mx-1;
  }
}

label.block {
  @apply inline-block mbe-1;
}

#top-menu {
  --color-text: var(--color-text);
  --color-link: var(--color-text);
  --color-link-hover: var(--color-text);
  @apply flex border-be-1 border-gray-3 text-text gap-2 items-center py-1 px-10 xl:px-30;

  ul {
    @apply menu;
  }

  #logo {
    @apply hidden;
  }

  #account {
    li {
      @apply m-0 w-full;
    }
    .user-info {
      @apply py-2 px-3;
    }
    .user-login {
      @apply text-gray-6;
    }
  }

}

#header {
  @apply flex gap-4 mbs-12 mbe-6 items-center;
}

.general-menu {
  @apply flex gap-3 items-center grow-1;

  &:before {
    content: "Lighthouse";
    @apply me-2 font-bold;
  }

}


#header,
#main,
#footer {
  @apply mx-10 xl:mx-30;
}

#main {
  @apply flex flex-row-reverse gap-10;
}

#content {
  @apply grow-3 pbe-10 w-fit min-w-0;
}

#content > h2 {
  @apply inline-block;
}

#content > .contextual {
  @apply my-3;
}

#content > .badge {
  @apply inline-block;
}


#sidebar {
  @apply w-80 grow-0;

  p {
    @apply mbe-2;
  }
}

div.nosidebar #sidebar {
  @apply w-0;
}

#sidebar-switch-panel {
  @apply hidden;
}

#query_form_content {
  @apply mbe-4;
}
p.buttons,
div.buttons {
  @apply flex gap-2 items-center;
}

.box {
  @apply box;
}

.tabs ul {
  @apply menu;

  ul.menu-children {
    @apply hidden absolute p-2 rounded-sm border-1 border-gray-6 bg-white z-45;

  	li {
      @apply float-none m-0;

  		a {
  			@apply block px-2 py-1 text-base rounded-lg mx-0.5;

  			&:hover {
  				@apply shadow-none bg-gray-1;
  			}
  		}
  	}
  }

  li:hover ul.menu-children {
    @apply block;
  }

}

.tabs-buttons {
  @apply !hidden;
}

#query_form {
  @apply my-6;
}

fieldset {
  @apply my-2;

  legend {
    @apply text-gray-6;
    svg.icon-svg {
      @apply stroke-gray-6;
    }
  }

  > div {
    @apply ps-5 pbe-2;
  }
}

#list-definition {

  > div {
   @apply my-3 flex gap-2;
  }

  .buttons {
    @apply flex-col;
  }

}


.mypage-box {

  h3 {
    @apply mbs-0 mbe-2;
  }

}

ul.projects {
  @apply my-6;
}

#filters #filters-table,
#filters #actions-table {

  .filter {
    @apply flex gap-2 items-center my-2;

    .values {
      @apply flex gap-2 items-center;
    }

    .field {
      @apply !w-auto py-1 min-w-20;
    }

  }

}

.add-filter > label {
  @apply inline-block py-1 min-w-20;
}

.autoscroll {
  @apply box overflow-x-auto;
}

div.flash.notice {
  @apply flex items-center gap-2 p-2 border-1 border-green-8 text-green-8 rounded-md;

  svg.icon-svg {
    @apply stroke-green-8;
  }
}

table {
  @apply min-w-full border-collapse;

  td.checkbox {
    @apply w-8;
  }

  td.subject,
  td.subject > a {
    @apply font-medium min-w-70;
  }

  th.id,
  td.id {
    @apply hidden;
  }

  td,th {
    @apply pe-3 ps-1 py-1 text-left font-normal align-top;
  }

  th,
  th a {
    @apply text-gray-6;
  }

  th a {
    @apply flex;

    > .icon-svg {
      @apply order-last;
    }
  }

  .status, .project, .updated_on, .assigned_to, .priority {
    @apply whitespace-nowrap;
  }
}

ul.pages {
  @apply menu float-right;
}

.contextual {
  @apply float-right flex gap-2 ms-2;
}



.avatar-with-child {
  @apply float-left me-2;
}

#footer {
  @apply pbe-8 text-gray-6;

  a {
      @apply text-gray-6;
  }

}


.splitcontent {
  @apply grid grid-cols-2 gap-6 w-full;
}

#list-top {
  @apply col-span-full;
}


.tabular {

  p {
    @apply my-2;
  }

  label {
    @apply me-2;
  }

  .info {
    @apply block text-gray-6;
  }

}

div#content .jstTabs.tabs {

  li {
    @apply block-auto;
  }

}

/* CALENDAR */

ul.cal {
  @apply !border-gray-3;

  li {
    @apply p-2 m-0 !border-gray-3;
  }

  .starting a.issue {
    @apply p-0 bg-transparent;
  }

  .week-number,
  .calhead,
  .calbody {
    @apply bg-transparent !p-2 m-0 font-normal;
  }

  .calbody,
  .calbody a {
    @applt text-sm;
  }

  .issue {
    @apply mbe-2 bg-[#e1e1e170] p-1 rounded-md;

      svg {
        @apply hidden;
      }
  }

}

.legend.cal {
  @apply my-3;

  > span {
   @apply flex gap-2;
 }

}

.inline-flex {
  @apply inline-flex gap-1;
}

.badge {
  @apply bg-gray-2 border-0 rounded-md py-0.5 px-1;
}

.required {
  @apply text-[#f0a0a0];
}

.context-menu-selection a {
  @apply text-white;
}


@import "./icons.css";
@import "./dropdown.css";
@import "./avatars.css";
@import "./admin.css";
@import "./issues.css";
@import "./activity.css";
@import "./contact.css";
@import "./wiki.css";
@import "./mypage.css";
@import "./roadmap.css";
@import "./tooltip.css";
@import "./gantt.css";
@import "./jqueryui.css";
